.github, .open {
  position: absolute;
  right: -16vw;
  bottom: 2vw;
  font-size: 2.1vw;
  font-weight: 700;
  border-radius: 10vw 0 0 10vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 11vw;
  height: 3vw;
  transition: 300ms;
  @media(max-width: 433px) {
    height: 13vw;
    right: -14vw;
  }

  &:hover {
    background: #1E0253;
    @media(max-width: 433px) {

    }
  }

  h2 {
    padding: 0 .2vw;
    border-radius: 10vw;
    font-size: 2.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: 433px) {
      font-size: 8.1vw;
    }
  }
}

.github {
  bottom: 6vw;
  width: 13vw;
  @media(max-width: 433px) {
    width: 44vw;
    right: 0;
    display: none;
  }
}

.card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media(max-width: 433px) {
    justify-content: center;
  }
}

.card {
  width: 23vw;
  outline: 0.8vw solid #750cf2;
  height: 32vw;
  border-radius: 1.5vw;
  margin: 2vw 0;
  cursor: pointer;
  background: black;
  position: relative;
  overflow: hidden;
  transition: 500ms outline-color ease-in-out;
  @media(max-width: 433px) {

    width: 97vw;
    outline: unset;
    height: 59vw;
    border-radius: 0 0 3vw 3vw;
    margin: 0;
    transition: unset;


  }

  &:hover {
    outline: 0.8vw solid transparent;
    @media(max-width: 433px) {
      outline: unset;
    }
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 2s ease-in-out;
    @media(max-width: 433px) {
      &:hover {
        object-position: top;

      }
    }

    &:hover {
      transition-delay: 0.2s;
      object-position: bottom;
      @media(max-width: 433px) {
        object-position: top;

      }
    }
  }
}

a {
  transition: 300ms;
  overflow: hidden;
  @media(max-width: 433px) {

  }

  &:hover {
    .github, .open {
      transform: translateX(-15.6vw);
      @media(max-width: 433px) {
        transform: translateX(0);
      }
    }
  }
}

.card-box {
  position: relative;

  .fake-menu-header {
    background: #DDDDDD;
    width: 97vw;
    height: 9vw;
    display: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3vw;
    border-radius: 3vw 3vw 0 0;
    margin-top: 12vw;

    @media(max-width: 433px) {
      display: flex;
    }

    .circle {
      width: 5vw;
      height: 5vw;
      margin-right: 3vw;
      background: #FCBC2D;
      border-radius: 50%;
    }

    .circle:first-child {
      background: #FD5E57;
    }

    .circle:nth-child(3) {
      background: #23CF34;
      margin-right: 15vw;
    }

    h6 {
      color: black;
      font-size: 7vw;
    }
  }
}

.animate {
  transform: scale(1);
  @media(max-width: 433px) {

  }
}

.borderrr {
  width: 24.5vw;
  height: 33.5vw;
  position: absolute;
  background: #750cf2;
  border-radius: 2.27vw;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media(max-width: 433px) {
    width: 91.5vw;
    height: 125.5vw;
    border-radius: 9.27vw;
    display: none;
  }
}
