.projects {
  padding: 0 9.2vw;
}

.card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
  //transform: translateY(-150%);

  h2 {
    font-size: 2.778vw;
    //color: #dcb527;
  }

  button {
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2.8vw;
    margin-top: 2vw;
    border: none;
    border-radius: 15vw;
    width: 16vw;
    height: 4vw;
    font-weight: 600;
    letter-spacing: .06vw;
    color: white;
    font-size: 2vw;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
    position: relative;

    &:hover {
      transform: scale(1.2);

      &:after {
        transform: translateX(-17vw);
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 34vw;
      height: 4vw;
      transition: 500ms ease-in-out;
      z-index: -1;
      background-image: linear-gradient(126.3deg, rgba(30, 2, 83, 1) 32.2%, rgba(198, 55, 160, 0.46) 109.2%);
    }


  }
}

p {
  margin-left: 1vw;
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 2vw;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  svg:active {
    outline: none;
    border: none;
  }
}
