nav {
  width: 100%;
  padding: 2.2vw 9.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  //transform: translateY(0);
  @media(max-width: 433px) {
    padding: 5.2vw 3.2vw;
  }

  .logo {
    font-size: 3.125vw;
    background: crimson;
    color: white;
    font-weight: 600;
    padding: 0.3vw;
    @media(max-width: 433px) {
      font-size: 10.125vw;


    }
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: 433px) {

    }

    h2 {
      font-size: 2vw;
      cursor: pointer;
      margin: 0 1vw;
      border: 0.3vw solid transparent;
      transition: 250ms;
      @media(max-width: 433px) {

      }


    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
  cursor: pointer;
  border: 0.3vw solid transparent;
  position: relative;
  @media(max-width: 433px) {

  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 500px;
    transition: 500ms ease-in-out;
    background: crimson;
    width: 500px;
    height: 2.778vw;
    border-radius: 7px;
    @media(max-width: 433px) {
      display: none;
    }
  }

  svg {
    transition: 500ms ease-in-out;
    @media(max-width: 433px) {
      width: 9.5vw;
    }
  }

  &:hover {
    transition: 500ms ease-in-out;
    @media(max-width: 433px) {

    }

    &:after {
      left: -15px;
      @media(max-width: 433px) {

      }
    }

  }
}

.image-wrapp {
  @media(max-width: 433px) {
    //top: 53vw;
    //right: 55vw;
    //z-index: 7;

top: 83vw;
    right: 18vw;
    z-index: 7;
  }
}

.contacts-title {
  font-size: 2.3vw;
  margin-left: 0.9vw;
  @media(max-width: 433px) {
    display: none;
  }
}

.wrapper {
  padding: 0 9.2vw;
  height: 34.028vw;
  display: flex;
  justify-content: flex-start;
  @media(max-width: 433px) {
    padding: 0 2.2vw;
    height: 128.028vw;
  }

  .text {
    width: 55vw;
    height: 35vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.6vw;
    @media(max-width: 433px) {
      //width: 96vw;
      //height: 127vw;
      //background: black;


      width: 96vw;
    height: 127vw;
    margin-top: 129vw;
    }

    h2 {
      font-size: 4.5vw;
      background: black;
      overflow: hidden;
      @media(max-width: 433px) {
        font-size: 14.5vw;
        position: absolute;
    left: 4vw;
    top: 22vw;
      }

      span {
        display: inline-block;
        transform: translateY(0);
        @media(max-width: 433px) {

        }
      }
    }

    h1 {
      font-size: 4.5vw;
      font-weight: 500;
      margin-bottom: 2vw;
      background: black;
      overflow: hidden;
      position: relative;
      @media(max-width: 433px) {
        font-size: 14.5vw;
        margin-bottom: 50vw;
        position: absolute;
    top: 40vw;
    left: 4vw;
      }

      span {
        display: inline-block;
        transform: translateY(0);
        @media(max-width: 433px) {

        }
      }
    }

    p {
      font-size: 2vw;
      margin-bottom: 1.2vw;
      span{
        color: #23CF34;
      }
      @media(max-width: 433px) {
        font-size: 7vw;
        margin-bottom: 3.2vw;
      }
    }
  }

  .image {
    width: 23vw;
    height: 23vw;
    background: black;
    display: flex;
    border-radius: 50%;
    //transition: 500ms;
    align-items: center;
    justify-content: center;
    position: relative;
    @media(max-width: 433px) {
      width: 73vw;
    height: 73vw;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      opacity: 0;
      //transition: 700ms opacity ease-in-out;
      @media(max-width: 433px) {

      }
    }

    img._img_active {
      opacity: 1;
      transition: 700ms opacity ease-in-out;
      @media(max-width: 433px) {

      }
    }

    .circle2 {
      width: 20vw; //27
      transition: 500ms width ease-in-out;
      @media(max-width: 433px) {

      }
    }

    .grece.circle2 {
      width: 27vw;
      animation: 7s spinGrece infinite linear;
      transition: 500ms width ease-in-out;
      @media(max-width: 433px) {
        width: 84vw;
      }
    }

    .vector {
      z-index: -3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media(max-width: 433px) {

      }
    }
  }
}

button {
  background: transparent;
  outline: none;
  margin-top: 2vw;
  border: none;
  border-radius: 15vw;
  width: 17vw;
  height: 4vw;
  font-weight: 600;
  letter-spacing: .06vw;
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  transition: 300ms;
  //transition-property: scale;
  overflow: hidden;
  position: relative;
  //transform: scale(0);
  @media(max-width: 433px) {
    z-index: 9;
    margin-top: 9vw;
    width: 65vw;
    height: 18vw;
    font-size: 7.5vw;
  }

  &:hover {
    transform:translate(0px, 0px) scale(1.2) ;
    @media(max-width: 433px) {

    }

    &:after {
      transform: translateX(-17vw);
      @media(max-width: 433px) {
width: 69vw;
    height: 19vw;


      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 34vw;
    height: 4vw;
    z-index: -1;
    background-image: radial-gradient(circle farthest-corner at 32.7% 82.7%, #DC143C 8.3%, rgba(15, 51, 92, 1) 79.4%);
    @media(max-width: 433px) {
      width: 65vw;
    height: 19vw;
    }
  }


}

.animate-button {

  width: fit-content;
  height: fit-content;
  @media(max-width: 433px) {
height: fit-content;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.image::after {
  content: '';
  position: absolute;
  top: -1vw; //0
  left: -1vw; //0
  transition: 500ms;
  right: -1vw; //0
  bottom: -1vw; //0
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -1;
  animation: 4s spin infinite linear;
  border-radius: 50%;
  @media(max-width: 433px) {
    top: -2vw;
    left: -2vw;
    right: -2vw;
    bottom: -2vw;
  }
}

.off.image::after {
  top: .8vw; //0
  left: .8vw; //0
  right: .8vw; //0
  bottom: .8vw; //0
  animation: none;
  @media(max-width: 433px) {

  }
}

.image::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  animation: 4s spin infinite linear;
  top: 0;
  transition: 500ms;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
  z-index: -2;
  filter: blur(27px); //filter: blur(27px)
  @media(max-width: 433px) {
    filter: blur(12px);
  }
}

.off.image::before {
  filter: none;
  top: .8vw; //0
  left: .8vw; //0
  right: .8vw; //0
  bottom: .8vw; //0
  animation: none;
  @media(max-width: 433px) {

  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinGrece {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(360deg) translate(0, 0);
  }
}


.image-wrapp {
  position: absolute;
  top: 10vw;
  right: 13vw;
  @media(max-width: 433px) {
    top: 83vw;
    right: 18vw;
    z-index: 7;
  }
}
.my-jobs{
  transition: 500ms ease-in-out;

}
h3{
  cursor: pointer;
  user-select: none;
}
