//@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background: crimson;
}
body{
  font-family: Roboto, sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
  //font-family: 'Rubik', sans-serif;
}


app-cardwork{
  display:flex;
  align-items:center;
  justify-content:center;
  @media(max-width: 433px){

  }
}


*::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 9px;
  @media(max-width: 790px) {
    display: none;
  }
}
*::-webkit-scrollbar-thumb {
  backdrop-filter: blur(10px);
  background-color: #750CF2;
  border-radius: 15px;
@media(max-width: 790px) {
    display: none;
  }
}
